#lights {
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/lights.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 100px 100px #fff;
}

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 750px 1445px #fff, 160px 2362px #fff, 249px 100px #fff, 245px 405px #fff, 1026px 1547px #fff, 1480px 12px #fff, 247px 3158px #fff, 615px 651px #fff, 346px 1784px #fff, 317px 1358px #fff, 1186px 3209px #fff, 975px 3719px #fff, 1383px 1772px #fff, 20px 248px #fff, 285px 2143px #fff, 362px 1570px #fff, 73px 625px #fff, 1770px 2738px #fff, 544px 838px #fff, 854px 509px #fff, 746px 2222px #fff, 378px 2195px #fff, 972px 3326px #fff, 1282px 2503px #fff, 1563px 1548px #fff, 30px 84px #fff, 1064px 2459px #fff, 1403px 415px #fff, 1486px 3733px #fff, 206px 1950px #fff, 1260px 2421px #fff, 172px 248px #fff, 374px 1841px #fff, 830px 1067px #fff, 630px 2015px #fff, 165px 556px #fff, 1024px 41px #fff, 971px 1894px #fff, 596px 1462px #fff, 1688px 483px #fff, 1345px 3396px #fff, 1913px 2094px #fff, 890px 1926px #fff, 1348px 1110px #fff, 1916px 2820px #fff, 611px 2099px #fff, 1647px 1896px #fff, 452px 1925px #fff, 1757px 2102px #fff, 1442px 3042px #fff, 1471px 3144px #fff, 583px 2458px #fff, 958px 1686px #fff, 755px 12px #fff, 1735px 2569px #fff, 25px 3174px #fff, 1781px 1227px #fff, 1713px 141px #fff, 1870px 3196px #fff, 851px 1179px #fff, 1216px 3471px #fff, 319px 280px #fff, 871px 83px #fff, 34px 3790px #fff, 1168px 1433px #fff, 1034px 1645px #fff, 260px 2929px #fff, 1701px 1585px #fff, 1308px 1408px #fff, 530px 1457px #fff, 1480px 3539px #fff, 1626px 2788px #fff, 629px 805px #fff, 447px 631px #fff, 1000px 3139px #fff, 1463px 1355px #fff, 1698px 937px #fff, 771px 662px #fff, 134px 1965px #fff, 1014px 3712px #fff, 689px 2039px #fff, 284px 1360px #fff, 587px 2898px #fff, 587px 158px #fff, 670px 3304px #fff, 430px 3544px #fff, 1464px 3041px #fff, 426px 273px #fff, 811px 2814px #fff, 1503px 925px #fff, 1021px 3634px #fff, 871px 1926px #fff, 648px 3301px #fff, 597px 1116px #fff, 1222px 2664px #fff, 774px 2939px #fff, 131px 1329px #fff, 542px 208px #fff, 963px 1114px #fff, 28px 2512px #fff, 1794px 1734px #fff, 1272px 282px #fff, 1621px 3745px #fff, 1718px 2499px #fff, 1706px 3110px #fff, 1650px 304px #fff, 309px 1016px #fff, 968px 2429px #fff, 1345px 2033px #fff, 407px 1807px #fff, 83px 1026px #fff, 1683px 890px #fff, 1485px 1903px #fff, 1459px 3705px #fff, 1112px 2356px #fff, 1607px 61px #fff, 715px 443px #fff, 1507px 66px #fff, 1868px 2713px #fff, 261px 166px #fff, 1148px 891px #fff, 1090px 1657px #fff, 1383px 502px #fff, 8px 2702px #fff, 988px 3020px #fff, 1478px 1330px #fff, 1724px 1293px #fff, 1169px 2727px #fff, 837px 666px #fff, 1842px 543px #fff, 1846px 1573px #fff, 888px 887px #fff, 1422px 2044px #fff, 1614px 1572px #fff, 525px 2623px #fff, 1319px 3213px #fff, 976px 3278px #fff, 24px 3304px #fff, 1864px 688px #fff, 968px 1028px #fff, 1438px 3151px #fff, 1615px 1331px #fff, 1269px 643px #fff, 1266px 3077px #fff, 1444px 2581px #fff, 254px 634px #fff, 1131px 2355px #fff, 1396px 1892px #fff, 329px 1621px #fff, 1582px 3645px #fff, 48px 2307px #fff, 1250px 2441px #fff, 1617px 2804px #fff, 1184px 1744px #fff, 1259px 2956px #fff, 1282px 3082px #fff, 1043px 1345px #fff, 1163px 319px #fff, 848px 782px #fff, 1215px 1981px #fff, 447px 2272px #fff, 1878px 2743px #fff, 1879px 915px #fff, 547px 1676px #fff, 1864px 97px #fff, 419px 2200px #fff, 1809px 716px #fff, 1618px 1730px #fff, 249px 3692px #fff, 472px 3061px #fff, 1313px 2557px #fff, 446px 1861px #fff, 947px 3254px #fff, 1894px 3327px #fff, 579px 3736px #fff, 165px 485px #fff, 1639px 2048px #fff, 1543px 1894px #fff, 1889px 2981px #fff, 1372px 2012px #fff, 862px 1380px #fff, 1227px 3699px #fff, 811px 1570px #fff, 1672px 2916px #fff, 1046px 3779px #fff, 1051px 352px #fff, 1912px 2295px #fff, 932px 495px #fff, 184px 2182px #fff, 364px 2014px #fff, 1383px 639px #fff, 1777px 2419px #fff, 897px 1587px #fff, 1217px 2869px #fff, 863px 2548px #fff, 94px 3525px #fff, 476px 580px #fff, 163px 3164px #fff, 475px 3018px #fff, 49px 2252px #fff, 1237px 262px #fff, 997px 2470px #fff, 1491px 2152px #fff, 1236px 2115px #fff, 675px 1172px #fff, 729px 187px #fff, 1507px 845px #fff, 749px 2704px #fff, 218px 3089px #fff, 30px 1321px #fff, 1633px 3695px #fff, 95px 3464px #fff, 838px 2327px #fff, 706px 3307px #fff, 1831px 1290px #fff, 496px 582px #fff, 1076px 1227px #fff, 1661px 2855px #fff, 1094px 2661px #fff, 1640px 1919px #fff, 1077px 3021px #fff, 321px 1981px #fff, 1066px 492px #fff, 78px 748px #fff, 640px 826px #fff, 716px 2459px #fff, 1497px 2705px #fff, 158px 1735px #fff, 1898px 2890px #fff, 1243px 2687px #fff, 479px 3290px #fff, 347px 83px #fff, 1528px 3469px #fff, 1069px 2931px #fff, 1108px 2291px #fff, 291px 3259px #fff, 1353px 2160px #fff, 983px 2918px #fff, 1670px 888px #fff, 1258px 898px #fff, 1033px 2642px #fff, 1172px 2600px #fff, 1079px 789px #fff, 753px 1569px #fff, 5px 1133px #fff, 928px 1961px #fff, 277px 994px #fff, 1889px 233px #fff, 1365px 635px #fff, 302px 2229px #fff, 1064px 1556px #fff, 1010px 2455px #fff, 108px 1414px #fff, 1143px 1893px #fff, 898px 2821px #fff, 889px 2332px #fff, 617px 3724px #fff, 1681px 2472px #fff, 1822px 2341px #fff, 1016px 2466px #fff, 906px 47px #fff, 1862px 2945px #fff, 908px 2322px #fff, 304px 1092px #fff, 405px 3575px #fff, 35px 1966px #fff, 1420px 2754px #fff, 849px 2366px #fff, 1790px 2831px #fff, 1371px 1184px #fff, 1795px 1363px #fff, 848px 2642px #fff, 1440px 951px #fff, 1567px 1523px #fff, 450px 860px #fff, 197px 323px #fff, 942px 24px #fff, 1712px 1411px #fff, 1707px 2987px #fff, 546px 1544px #fff, 1575px 249px #fff, 1872px 1615px #fff, 1607px 2412px #fff, 728px 3054px #fff, 849px 2306px #fff, 1769px 2227px #fff, 1285px 734px #fff, 1282px 99px #fff, 1892px 1989px #fff, 712px 1987px #fff, 234px 1120px #fff, 1025px 2479px #fff, 745px 3125px #fff, 1142px 224px #fff, 1420px 277px #fff, 1465px 3120px #fff, 1779px 1475px #fff, 957px 3617px #fff, 1508px 220px #fff, 1457px 3728px #fff;
}

.meteor-1 {
  position: absolute;
  top: 150vh;
  left: 25%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10.3s linear infinite;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 150vh;
  left: 63%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10.7s linear infinite;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 150vh;
  left: 36%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 18s linear infinite;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 150vh;
  left: 25%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.7s linear infinite;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 150vh;
  left: 45%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.6s linear infinite;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 150vh;
  left: 27%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.6s linear infinite;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 150vh;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.8s linear infinite;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 150vh;
  left: 99%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 20.3s linear infinite;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 150vh;
  left: 54%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.1s linear infinite;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 150vh;
  left: 21%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.2s linear infinite;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 150vh;
  left: 67%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 14.7s linear infinite;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 150vh;
  left: 72%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 31.2s linear infinite;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 150vh;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 30.6s linear infinite;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 150vh;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 26.5s linear infinite;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 150vh;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11.7s linear infinite;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 150vh;
  left: 31%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 23.2s linear infinite;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 150vh;
  left: 48%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 25.4s linear infinite;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 150vh;
  left: 94%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 25.8s linear infinite;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 150vh;
  left: 49%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 27.5s linear infinite;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 150vh;
  left: 90%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11.7s linear infinite;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 150vh;
  left: 66%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.8s linear infinite;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 150vh;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.8s linear infinite;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 150vh;
  left: 17%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.4s linear infinite;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 150vh;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.4s linear infinite;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 150vh;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 32.8s linear infinite;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=about.css.map */